<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="17.1.1.0" targetFramework="net452" />
  <package id="Elasticsearch.Net" version="5.5.0" targetFramework="net452" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.4" targetFramework="net452" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net452" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net452" />
  <package id="NEST" version="5.5.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="ScrapySharp" version="2.6.2" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0" targetFramework="net452" />
  <package id="taglib" version="2.1.0.0" targetFramework="net452" />
  <package id="TikaOnDotnet" version="1.16.0" targetFramework="net452" />
  <package id="TikaOnDotnet.TextExtractor" version="1.16.0" targetFramework="net452" />
</packages>